<div ng-include="'/templates/menu.html'"></div>

<div class="container">
	<div class="row">
		<div class="col-sm-5">
			<h1 style="text-align: center;">{{gameInformation.team_1.name}}</h1>
			<div class="well" style="text-align: center;">
				<h2><span class="glyphicon glyphicon-minus pull-left"></span>{{gameInformation.team_1_score}}<span class="glyphicon glyphicon-plus pull-right"></span></h2>
			</div>
		</div>
		<div class="col-sm-2">
			<h2 style="text-align: center;">vs</h2>
		</div>
		<div class="col-sm-5">
			<h1 style="text-align: center;">{{gameInformation.team_2.name}}</h1>
			<div class="well clearfix" style="text-align: center;">
				<h2><span class="glyphicon glyphicon-minus pull-left"></span>{{gameInformation.team_2_score}}<span class="glyphicon glyphicon-plus pull-right"></span></h2>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-md-12">
			<form class="form-inline" role="form">
				<div class="checkbox">
					Is final?
					<a href="" class="btn btn-primary "><span class="glyphicon glyphicon-ok"></span></a>
				</div>
				 | 
				<button type="submit" class="btn btn-default">Submit new score</button>
			</form>
		</div>
	</div>
	
	<br><br>
	<hr>

	<div class="row">
		<div class="col-md-12">
			<h2>Game History</h2>
			<table class="table">
				<thead>
					<tr>
						<th>Team 1 name</th>
						<th>Team 2 name</th>
						<th>Team 1 score</th>
						<th>Team 2 score</th>
						<th>Is final?</th>
						<th>Time</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="game_score in gameHistory">
						<td>{{game_score.team_1.name}}</td>
						<td>{{game_score.team_2.name}}</td>
						<td>{{game_score.team_1_score}}</td>
						<td>{{game_score.team_2_score}}</td>
						<td>{{game_score.is_final}}</td>
						<td>{{betterTime(game_score.time)}}</td>
					</tr>
				</tbody>
			</table>
			<a href="" class="btn btn-default btn-block">Load more...</a>
			<br>
		</div>
	</div>
	

</div>