<img src="/img/loader.gif" alt="" ng-hide="games">

<div class="row" ng-show="games">
	<div class="col-md-12">
		<h2>Games</h2>
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>Tijd</th>
						<th>Team 1</th>
						<th>Team 2</th>
						<th>Score</th>
						<th>Winner</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="game in games | orderBy:'-game.start_time'">
						<td>{{betterTime(game.start_time)}}</td>
						<td>{{game.team_1.name}}</td>
						<td>{{game.team_2.name}}</td>
						<td>{{game.team_1_score}} - {{game.team_2_score}}</td>
						<td>{{game.winner.name}}</td>
						<td><a href="/game/{{game.id}}"><span class="glyphicon glyphicon-chevron-right"></span></a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>