<div ng-include="'/views/menu.html'"></div>

<div class="container">

	<img src="/img/loader.gif" alt="" ng-hide="poolInformation">
	
	<div class="row" ng-show="poolInformation">
		<div class="col-md-12">
			<h1>Pool: {{poolInformation.name}}</h1>
		</div>
	</div>

	<div class="row" ng-show="poolInformation">
		<div class="col-md-12">
			<h2>Standings</h2>
			
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th>Name</th>
								<th>Games played</th>
								<th>W</th>
								<th>L</th>
								<th>+/-</th>
								<th>p. allowed</th>
								<th>p. scored</th>
							</tr>
							
						</thead>
						<tr ng-repeat="standing in poolInformation.standings | orderBy:'-plus_minus'">
							<td><a href="/team/{{standing.team.id}}">{{standing.team.name}}</a></td>
							<td>{{standing.games_played}}</td>
							<td>{{standing.wins}}</td>
							<td>{{standing.losses}}</td>
							<td>{{standing.plus_minus}}</td>
							<td>{{standing.points_allowed}}</td>
							<td>{{standing.points_scored}}</td>
						</tr>
					</table>
				</div>

		</div>
	</div>
	
	<div ng-include="'/views/games.html'"></div>


</div>